# Set default behavior to automatically normalize line endings
* text=auto eol=lf

# JavaScript and TypeScript
*.js text
*.jsx text
*.ts text
*.tsx text

# JSON files
*.json text

# Markdown and documentation
*.md text
*.mdx text

# CSS files
*.css text
*.scss text

# Graphics
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text

# Don't include these in language stats
.husky/** linguist-vendored
scripts/** linguist-documentation 